.Table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
}

.Table th, td {
    text-align: left;
    padding: 10px;

}
.Table td {
  cursor: pointer;
}
.TableContainer {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
